{% load utils %} {% include "head.html" %}
<link href="/static/js/h5upload/h5upload.css" rel="stylesheet" />
<script src="/static/js/h5upload/h5upload.js"></script>

<div style="padding: 10px" class="admin-content">
    <div class="panel panel-default">
        <div class="panel-heading">捐赠详情</div>
        <div class="panel-body">
            <div class="admin-detail clearfix">
                <div class="detail detail-text">
                    <div class="detail-title">编号：</div>
                    <div class="detail-content">{{ map.bianhao }}</div>
                </div>
                <div class="detail detail-longtext">
                    <div class="detail-title">标题：</div>
                    <div class="detail-content">{{ map.biaoti }}</div>
                </div>
                <div class="detail detail-longtext">
                    <div class="detail-title">物品：</div>
                    <div class="detail-content">{{ map.wupin }}</div>
                </div>
                <div class="detail detail-select">
                    <div class="detail-title">物品类别：</div>
                    <div class="detail-content">{{ map.wupinleibie.leibieming }}</div>
                </div>
                <div class="detail detail-select">
                    <div class="detail-title">状态：</div>
                    <div class="detail-content">{{ map.zhuangtai }}</div>
                </div>
                <div class="detail detail-number">
                    <div class="detail-title">数量：</div>
                    <div class="detail-content">{{ map.shuliang }}</div>
                </div>
                <div class="detail detail-textuser">
                    <div class="detail-title">捐赠人：</div>
                    <div class="detail-content">{{ map.juanzengren }}</div>
                </div>
                <div class="detail detail-autotime">
                    <div class="detail-title">添加时间：</div>
                    <div class="detail-content">{{ map.addtime|date:'Y-m-d H:i:s' }}</div>
                </div>
                <div class="detail detail-images">
                    <div class="detail-title">图片：</div>
                    <div class="detail-content">
                        <fieldset class="images_box">
                            <div id="gellay_images" class="imagesList">
                                <script>
                                    var images = "{{ map.tupian }}".split(",");
                                    for (var i = 0; i < images.length; i++) {
                                        var image = images[i];
                                        var uploadImage = '<div class="uploadImage">' + '<span class="thumb thumbnail"><img src="' + image + '"/></span>' + "</div>";
                                        document.writeln(uploadImage);
                                    }
                                </script>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="detail detail-editor">
                    <div class="detail-title">详情备注：</div>
                    <div class="detail-content">{{ map.xiangqingbeizhu|safe }}</div>
                </div>
            </div>

            <div class="button-list mt10">
                <div class="">
                    <button type="button" class="btn btn-default" onclick="history.go(-1);">返回</button>
                    <button type="button" class="btn btn-default" onclick="window.print()">打印本页</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "foot.html" %}
