{% load utils %} {% include "head.html" %} {% include "header.html" %}

<div>
    <div class="container">
        <!-- 使用bootstrap css框架，container定宽，并剧中 https://v3.bootcss.com/css/#overview-container -->

        <div class="news-info" style="margin: 20px 0 0 0; background-color: #FFFFFF">
            <h3 class="title">{{ map.biaoti }}</h3>
            <div class="descount">
                <span class="title"> 分类： {{ map.fenlei.fenleimingcheng }} </span>
                <span class="title"> 点击率： {{ map.dianjilv }} </span>
                <span class="title"> 添加人： {{ map.tianjiaren }} </span>
            </div>
            <div class="content">{{ map.neirong|safe }}</div>
        </div>

        <!-- container定宽，并剧中结束 -->
    </div>
</div>

{% include "footer.html" %} {% include "foot.html" %}
