{% load utils %}

{% include "head.html" %}
{% include "header.html" %}

<link rel="stylesheet" href="/static/js/swiper/swiper.css">
<script src="/static/js/swiper/swiper.js"></script>


<div>


    <div class="container"><!-- 使用bootstrap css框架，container定宽，并剧中 https://v3.bootcss.com/css/#overview-container -->

        <div class="row">


            <div class="col-sm-4 col-md-4">


                <div class="single-bottom">
                    <h6>

                        新闻信息 </h6>
                    <div class="prod-desc">


                        <div class="">
                            {% query 'xinwenxinxi' 'select' 'limit' 3 "order" '-id' as xinwenxinxilist26 %}
                            <div class="news-list">
                                <ul>
                                    {% for r in xinwenxinxilist26 %}
                                        <li class="clearfix">
                                            <a href="/xinwenxinxi/detail/?id={{ r.id }}">
                                                <div class="thumb">
                                                    <div class="img-box pb100">
                                                        <div class="img"
                                                             style="background-image: url('{% images r.tupian %}')"></div>
                                                    </div>
                                                </div>
                                            </a>

                                            <div class="news-content-text ">
                                                <a href="/xinwenxinxi/detail/?id={{ r.id }}">
                                                    <h3>{{ r.biaoti }}</h3>
                                                </a>
                                                <div class="description">
                                                    {{ r.neirong|striptags|slice:45 }}
                                                </div>
                                                <div class="other-content">
                                                    <span>{{ r.addtime }}</span>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <div class="col-sm-8 col-md-8" style="margin-top: 10px">


                {% query 'lunbotu' 'select' "order" '-id' 'limit' 5 as bhtList %}

                <div class="swiper-container" id="base/banner27">
                    <div class="swiper-wrapper">
                        {% for bht in bhtList %}
                            <div class="swiper-slide">
                                <div class="decoimg_b2">
                                    <a class="btn btn-" href="{{ bht.url }}"
                                       style="background-image: url('{{ bht.image }}'); height: 480px"></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                    <!-- 如果需要导航按钮 -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>


                <script>
                    var mySwiper = new Swiper('#base/banner27', {
                        loop: true, // 循环模式选项
                        autoplay: {
                            delay: 3000,
                            disableOnInteraction: false
                        },
                        // 如果需要分页器
                        pagination: {
                            el: '.swiper-pagination',
                        },
                        // 如果需要前进后退按钮
                        navigation: {
                            nextEl: '.swiper-button-next',
                            prevEl: '.swiper-button-prev',
                        },
                        // 如果需要滚动条
                        /*scrollbar: {
                            el: '.swiper-scrollbar',
                        },*/
                    })
                </script>


            </div>

        </div>


        <!-- container定宽，并剧中结束 --></div>


</div>


<div style="margin-top: 20px">


    <div class="container"><!-- 使用bootstrap css框架，container定宽，并剧中 https://v3.bootcss.com/css/#overview-container -->

        <div class="row">


            <div class="col-sm-4 col-md-4">


                <div class="single-bottom">
                    <h6>

                        最新需求 </h6>
                    <div class="prod-desc">


                        <div class="hotnews class1">
                            {% query 'xuqiuxinxi' 'select' 'filter' 'zhuangtai' "待捐赠" 'limit' 6 "order" '-id' as xuqiuxinxilist33 %}
                            <ul class="a">
                                {% for r in xuqiuxinxilist33 %}
                                    {% with i=forloop.counter %}
                                        <li>

                                            <a href="/xuqiuxinxi/detail/?id={{ r.id }}" class="clearfix">
                                                <span class="shijian">{{ r.addtime }}</span>
                                                {{ r.biaoti }}
                                            </a>
                                        </li>
                                    {% endwith %}{% endfor %}
                            </ul>
                        </div>


                    </div>
                </div>


            </div>
            <div class="col-sm-8 col-md-8">


                <div class="single-bottom">
                    <h6>

                        最新捐赠 </h6>
                    <div class="prod-desc">


                        <div class="snick clearfix">
                            {% query 'juanzeng' 'select' 'filter' 'zhuangtai' "未被领取" 'limit' 3 "order" '-id' as juanzenglist37 %}
                            <div class="row">

                                {% for r in juanzenglist37 %}
                                    <div class="col-md-4 snock">

                                        <a href="/juanzeng/detail/?id={{ r.id }}">
                                            <div class="services">
                                                <div class="img-box snocks pb80">
                                                    <div class="img"
                                                         style="background-image: url('{% images r.tupian %}')"></div>
                                                </div>
                                                <h2>{{ r.biaoti|striptags|slice:15 }}</h2>
                                                <p>{{ r.wupin|striptags|slice:60 }}</p>
                                            </div>

                                        </a>

                                    </div>
                                {% endfor %}

                            </div>
                        </div>


                    </div>
                </div>


            </div>

        </div>


        <!-- container定宽，并剧中结束 --></div>


</div>


{% include "footer.html" %}
{% include "foot.html" %}